
<div class="border"></div>
<div id="desginerHead" class="head md-col-12">
	<img src="images/cerf.png" alt="">
</div>

<div class="designerContainer ">
	<h4>Tu es intéressé par ce produit?</h4>
	<form action="">
		<p>Est-ce que cette plateforme est susceptible de t'intéresser?</p>
		<img src="images/modele3d.jpg" alt="">
		<p>En entrant ton e-mail, profite de 4 mois freemium gratuit!</p>
		<input class="email" placeholder="jaime@manao-3d.ch" type="email">
		<input class="submit" type="submit">
	</form>
</div>
