<div class="noContainer col-md-8 col-md-offset-2">
<div class="whiteFilter"></div>
	<form action="" ng-submit="go('/dform')">
<!-- 		<p>Est-ce que cette plateforme est susceptible de t'intéresser?</p>
		 -->
		<h2>Super! Nous te tiendrons informé</h2>
		<h4>Te reste-il quelques secondes?</h4>
		<img src="images/modele3d.jpg" alt="">
		<p style="margin-top:20px;">Accepterais-tu de modéliser cet abat-jour pour 40 CHF? (~35 euros)</p>
		Oui <input style="margin-right:15px;" type="radio" ng-model="yes" name="accept" value="oui"> 
		Non <input type="radio" ng-model="no" name="accept" value="non">
		
		<p ng-show="no" style="margin-top:15px;">Quel serait le cachet minimum pour modéliser cet abat-jour?</p>
		<input ng-show="no" type="number" min="40" value="41" required>
		<p style="margin-top:15px;">Ton avis nous est précieux. Fais tout commentaire, positif ou négatif, qui te semble constructif pour nous.</p>
		<p style="margin-top:10px;">C'est biensûr <strong>anonyme</strong>.</p>
		
		<textarea class="comment" placeholder="Tes commentaires ici..." style="width: 100%; height: 150px;"  ng-model="formulaire.commentsNo" ></textarea>
		<input  class="submit" type="submit" ng-click="sendForm(formulaire)" 	>
	</form>

</div>
