
  <div class="container">
    <div id="home" class="row ">
      <div class="twelve columns" >
        <!-- <h1 id="title">Manao</h1> -->
        <div class="header">
           <div class="title">
          <img id="title" src="images/logo.gif"/>
        </div>
        
        <h4 id="pitch" class="hidden">imprime tes idées!</h4>
        </div>
       

        <!-- <div id="video" class="hidden">
          <video >
            <source src="images/test3.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <div id="controls">
            <button ng-click="videoPlay()" class="btn btn-default play playCenter"><img src="images/controls/play.png" alt=""></button>
            <button ng-click="videoPlay()" class="btn btn-default play"><img src="images/controls/play.png" alt=""></button>
            <button ng-click="videoPause()" class=" btn btn-default hidden pause"><img src="images/controls/pause.png" alt=""></button>
            <button ng-click="videoSoundOn()" class=" btn btn-default soundOn"><img src="images/controls/soundOn.png" alt=""></button>
            <button ng-click="videoSoundOff()" class=" btn btn-default hidden soundOff"><img src="images/controls/soundOff.png" alt=""></button>
            <button ng-click="videoSkip()" class=" btn btn-default skip"><img src="images/controls/skip.png" alt=""></button>

          </div>
        </div> -->

        <div id="description" class="hidden col-md-8 col-md-offset-2">
          <div class="whiteFilter "></div>
            <h4>Regarde la vidéo de <strong>manao</strong>, la plateforme web qui <strong>supprime</strong> les barrières de la créativité.</h4>
           <video controls width="100%" class=""  poster="/images/poster.png" >
            <source src="images/video3.mp4" type="video/mp4">
            <!-- <source src="movie.ogg" type="video/ogg"> -->
            Your browser does not support the video tag.
          </video>
          <img class="croquisVase" src="images/croquisVase.png" style="width:40%;margin-left:5%; float:left;"alt="">
            <img class="printedVase" src="images/vasePrinted.png" style="width:40%; margin-left:10%;float:left;"alt="">
            <button class="btn btn-default col-md-12 txtbutton" style="font-family='ralewayregular'; margin-bottom:20px;">Afficher texte</button>
            <div class="txt hidden">
              
            
            
            <p><strong>manao</strong> est une plateforme web mettant en lien des personnes capables de modéliser en 3D, et des particuliers. </p>
            <p><strong>Thierry</strong> est un passionné de design et modélisation. Architecte de profession, il maîtrise les logiciels de rendu 3D, et sait modéliser tout type d'objets.</p>
            <p>Il est dimanche, et il pleut. Il est en manque d'inspiration, pourtant il veut créer pour enrichir son portfolio. Il se rend sur sa plateforme favorite: manao-3d.ch, et tombe sur l'appel d'offre d'<strong>Anna</strong>.</p>
            <h4>Mais qui est Anna?</h4>
            <p>Anna est une informaticienne, et gribouille tout le temps sur tout support qu'elle trouve. Elle n'a aucune connaissance technique, et n'est pas prête à faire le nécessaire pour les acquérir, par conséquent, ses croquis restent... des croquis.</p>

            <h4>Et si on les imprimait?</h4>
            <p>Un jour, lors d'une ... intéressante conférence, <strong>Anna</strong> se met à dessiner sur sa feuille de notes, et dessine le vase de ses rêves , elle en tombe amoureuse. Elle se rend alors sur le site de manao-3d.ch, et y soumet son croquis en tant qu'appel d'offre. Elle y ajoute quelques dimensions et les notes nécessaires pour qu'il se comprenne bien, et précise par exemple le matériel qu'elle souhaite pour son vase.</p>

            <h4>Que la magie opère...</h4>
            <p><strong>Thierry</strong> accepte l'appel d'offre, comme tout autre concepteur aurait pu. Il se propose avec un <strong>devis</strong>, qui peut être accepté ou non. Et c'est parti!</p>

            <p>Une nouvelle <strong>collaboration</strong> se crée, et un nouveau projet se dessine. Au terme de la conception, Thierry et Anna valident, et décident d'envoyer le modèle à chez l'imprimeur le plus proche. Anna recevra alors son idée, imprimée chez elle. Si la collaboration se passe bien, les deux seront notés correctement, et ceci est important pour pouvoir être accepté lors de prochaines conceptions!</p>

            <p>Une fois que le modèle a été conçu, celui-ci s'ajoutera alors au portfolio du concepteur 3D sur manao-3d.ch. Le modèle du vase est lié à la fois à Thierry et à Anna. Sur chaque nouvelle vente de l'objet, Anna prend un petit pourcentage de la transaction, en tant que donneuse d'idées.</p>

            <p>Non seulement <strong>Anna</strong> a pu réaliser son objet, et par conséquent, faire le premier pas dans le monde passionnant de l'imprimante 3D, mais surtout, <strong>Thierry</strong> a pu modéliser un objet, renforcer son portfolio, et vendre au moins une fois son nouveau modèle.</p>
            </div>

            <h3 style="clear:both;">Et toi? Tu fais quoi?</h3>
            
            <div class="descriptionButtons" >
                <div class="buttons lireButtons">
                  <div class="m">
                    <button ng-click="go('/designer')" class=" designerButton btn btn-default col-md-3 ">Je modélise en 3D</button>
                  <button ng-click="go('/particulier')" class="particulierButton btn btn-default col-md-3">Je ne modélise pas en 3D</button>
                  </div>
                  
                </div>
            </div>
        </div>

       <!--  <div id="mainButtons"> -->
          <!-- <button ng-click="launchVideo()" class="video btn btn-default disabled ">Voir la vidéo</button> -->
        <!--   <a href="#" class="video btn btn-default disabled" role="button" style="color:grey;">Voir la vidéo (à venir)</a>
          <button ng-click="displayText()" class="lire btn btn-default ">Lire le descriptif</button>
        </div>

        <div class="buttons videoButtons hidden">
          <button ng-click="go('/designer')" class=" designerButton btn btn-default col-md-3">Je suis designer</button>
          <button ng-click="go('/particulier')" class="particulierButton btn btn-default col-md-3">Je suis particulier</button>
        </div>
         -->
       
      
      
    </div>



   </div>
