
  <div class="container">
    <div id="home" class="row ">
      <div class="twelve columns" >
        <!-- <h1 id="title">Manao</h1> -->
        <div class="header">
           <div class="title">
          <img id="title" src="images/logo.gif"/>
        </div>
        
        <h4 id="pitch" class="hidden">imprime tes idées!</h4>
        </div>
       

        <!-- <div id="video" class="hidden">
          <video >
            <source src="images/test3.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <div id="controls">
            <button ng-click="videoPlay()" class="btn btn-default play playCenter"><img src="images/controls/play.png" alt=""></button>
            <button ng-click="videoPlay()" class="btn btn-default play"><img src="images/controls/play.png" alt=""></button>
            <button ng-click="videoPause()" class=" btn btn-default hidden pause"><img src="images/controls/pause.png" alt=""></button>
            <button ng-click="videoSoundOn()" class=" btn btn-default soundOn"><img src="images/controls/soundOn.png" alt=""></button>
            <button ng-click="videoSoundOff()" class=" btn btn-default hidden soundOff"><img src="images/controls/soundOff.png" alt=""></button>
            <button ng-click="videoSkip()" class=" btn btn-default skip"><img src="images/controls/skip.png" alt=""></button>

          </div>
        </div> -->

        <div id="description" class="hidden col-md-8 col-md-offset-2">
          <div class="whiteFilter "></div>
            <p><strong>manao</strong> est une plateforme web mettant en lien des personnes capable de modéliser en 3D, et des particulier. </p>
            <p><strong>Thierry</strong> est un passionné de design. Architecte de profession, il maîtrise les logiciels de rendu 3D, et sait modéliser tout type d'objets.</p>
            <p>Il est dimanche, et il pleut. Il est en manque d'inspiration, pourtant il veut créer pour enrichir son portfolio. Il se rend sur sa plateforme favorite: manao-3d.ch, et tombe sur l'appel d'offre d'<strong>Anna</strong>.</p>
            <h4>Mais qui est Anna?</h4>
            <p>Anna est une informaticienne, et gribouille tout le temps sur tout support qu'elle trouve. Elle n'a aucune connaissance technique, et n'est pas prête à faire le nécessaire pour les acquérir, par conséquent, ses croquis restent... des croquis.</p>

            <h4>Et si on les imprimait?</h4>
            <p>Un jour, lors d'une ... intéressante conférence, <strong>Anna</strong> se met a dessiner sur sa feuille de note, et dessine un... , elle en tombe amoureuse. Elle se rend alors sur le site de manao-3d.ch, et y soumet son croquis en tant qu'appel d'offre. Elle y ajoute quelques dimensions et les notes nécessaires pour qu'il se comprenne bien.</p>

            <h4>Que la magie opère...</h4>
            <p><strong>Thierry</strong> accepte l'appel d'offre, comme tout autre concepteur aurait pu. Ils sont alors en <strong>compétition</strong> et doivent alors traduire <strong>au mieux</strong> le croquis d'Anna en modèle informatique.</p>

            <img src="lorem" alt="">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora at quisquam numquam ut ex placeat eveniet. Earum error, asperiores hic quo facilis veniam ipsum, obcaecati beatae! Accusantium itaque ullam iste!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati aliquid, dolor laudantium dolores quidem, debitis ea animi autem hic nostrum cum quos numquam. Explicabo, deleniti maxime ut corporis iusto laudantium?</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, quia ipsa voluptates dolorem itaque at, voluptatem delectus eveniet. Doloribus delectus rerum quia aperiam, officia facere consequuntur sequi molestiae voluptates fuga.</p>

            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum deleniti obcaecati quasi perspiciatis dicta consectetur iure quod, molestiae molestias nemo dolores impedit tenetur eum ex officiis facilis in nam ad!</span><span>Saepe mollitia adipisci ad laudantium ut vitae odit expedita repellendus accusamus atque corporis, sed commodi distinctio quis impedit consequatur quidem tenetur! Porro labore doloribus qui nulla, dolorem laborum doloremque inventore.</span></p>
            <div class="descriptionButtons">
                <div class="buttons lireButtons">
                  <div class="m">
                    <button ng-click="go('/designer')" class=" designerButton btn btn-default col-md-3 ">Je suis Thierry</button>
                  <button ng-click="go('/particulier')" class="particulierButton btn btn-default col-md-3">Je suis Anna</button>
                  </div>
                  
                </div>
            </div>
        </div>

       <!--  <div id="mainButtons"> -->
          <!-- <button ng-click="launchVideo()" class="video btn btn-default disabled ">Voir la vidéo</button> -->
        <!--   <a href="#" class="video btn btn-default disabled" role="button" style="color:grey;">Voir la vidéo (à venir)</a>
          <button ng-click="displayText()" class="lire btn btn-default ">Lire le descriptif</button>
        </div>

        <div class="buttons videoButtons hidden">
          <button ng-click="go('/designer')" class=" designerButton btn btn-default col-md-3">Je suis designer</button>
          <button ng-click="go('/particulier')" class="particulierButton btn btn-default col-md-3">Je suis particulier</button>
        </div>
         -->
       
      
      
    </div>



   </div>
