
  <div class="container">
    <div id="home" class="row ">
      <div class="twelve columns" >
        <!-- <h1 id="title">Manao</h1> -->
        <div class="header">
           <div class="title">
          <img id="title" src="images/logo.gif"/>
        </div>
        
        <h4 id="pitch" class="hidden">imprime tes idées!</h4>
        </div>
       

        <!-- <div id="video" class="hidden">
          <video >
            <source src="images/test3.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
          <div id="controls">
            <button ng-click="videoPlay()" class="btn btn-default play playCenter"><img src="images/controls/play.png" alt=""></button>
            <button ng-click="videoPlay()" class="btn btn-default play"><img src="images/controls/play.png" alt=""></button>
            <button ng-click="videoPause()" class=" btn btn-default hidden pause"><img src="images/controls/pause.png" alt=""></button>
            <button ng-click="videoSoundOn()" class=" btn btn-default soundOn"><img src="images/controls/soundOn.png" alt=""></button>
            <button ng-click="videoSoundOff()" class=" btn btn-default hidden soundOff"><img src="images/controls/soundOff.png" alt=""></button>
            <button ng-click="videoSkip()" class=" btn btn-default skip"><img src="images/controls/skip.png" alt=""></button>

          </div>
        </div> -->

        <div id="description" class="hidden col-md-8 col-md-offset-2">
          <div class="whiteFilter "></div>
            <p><strong>manao</strong> est une plateforme web mettant en lien des personnes capable de modéliser en 3D, et des particulier.</p>
            <p>Thierry est architecte, et de ce fait sait rendre des objets en 3D </p>

            <img src="lorem" alt="">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora at quisquam numquam ut ex placeat eveniet. Earum error, asperiores hic quo facilis veniam ipsum, obcaecati beatae! Accusantium itaque ullam iste!</p>
            <div class="descriptionButtons">
                <div class="buttons lireButtons">
                  <button ng-click="go('/designer')" class=" designerButton btn btn-default col-md-3 ">Je suis designer</button>
                  <button ng-click="go('/particulier')" class="particulierButton btn btn-default col-md-3">Je suis particulier</button>
                </div>
            </div>
        </div>

       <!--  <div id="mainButtons"> -->
          <!-- <button ng-click="launchVideo()" class="video btn btn-default disabled ">Voir la vidéo</button> -->
        <!--   <a href="#" class="video btn btn-default disabled" role="button" style="color:grey;">Voir la vidéo (à venir)</a>
          <button ng-click="displayText()" class="lire btn btn-default ">Lire le descriptif</button>
        </div>

        <div class="buttons videoButtons hidden">
          <button ng-click="go('/designer')" class=" designerButton btn btn-default col-md-3">Je suis designer</button>
          <button ng-click="go('/particulier')" class="particulierButton btn btn-default col-md-3">Je suis particulier</button>
        </div>
         -->
       
      
      
    </div>



   </div>
